/* override styles when printing */

.fb-navigator-menu {
  display: none;
}

.fb-table {
  width: auto;
  height: auto;
}

.fb-toolbar {
  display: none;
}

.fb-workbook-tab {
  display: none;
}

.fb-workbook-tab {
  display: none;
}

.fb-workbook-tab-edit {
  display: none;
}

.fb-zoom-control {
  display: none;
}

.fb-form-content {
  overflow: visible;
}

.fb-table-body {
  overflow: visible;
  height: 100% !important;
}

.fb-icon-button {
  display: none;
}


